[submodule "thirdparty/Jinja2Cpp"]
	path = thirdparty/Jinja2Cpp
	url = https://github.com/jinja2cpp/Jinja2Cpp.git
	branch = cmake_deps_mode
[submodule "thirdparty/expected-lite"]
	path = thirdparty/expected-lite
	url = https://github.com/martinmoene/expected-lite.git
[submodule "thirdparty/optional-lite"]
	path = thirdparty/optional-lite
	url = https://github.com/martinmoene/optional-lite.git
[submodule "thirdparty/variant-lite"]
	path = thirdparty/variant-lite
	url = https://github.com/martinmoene/variant-lite.git
[submodule "thirdparty/value-ptr-lite"]
	path = thirdparty/value-ptr-lite
	url = https://github.com/martinmoene/value-ptr-lite.git
[submodule "thirdparty/string-view-lite"]
	path = thirdparty/string-view-lite
	url = https://github.com/martinmoene/string-view-lite.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/robin-hood-hashing"]
	path = thirdparty/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
